// credentials for wifi & mqtt

const char* ssid1 = "your ssid";
const char* password1 = "wifi password"; 
const char* ssid2 = "your backup ssid";  // if you have only one, use same in both, or update code
const char* password2 = "wifi password"; 


#define BROKER_USERNAME     "user"
#define BROKER_KEY          "password"
